<footer class="bg-white dark:bg-gray-800 shadow-md mt-12">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-6 text-center">
    <p>&copy; 2025 Waifus-wa</p>
    <p class="mt-2 text-sm text-gray-600 dark:text-gray-400">
      Todas las imágenes de este sitio web son subidas por la comunidad. Si tienes algún problema, revisa nuestras 
      <a href="/Privacy" class="text-blue-500 hover:text-blue-700">políticas de privacidad</a>.
    </p>
  </div>
</footer>